doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Dendrite Admin
        link(rel="stylesheet", href="stylesheet.scss")

        script(src="npm:jquery/dist/jquery.min.js")
        script(src="npm:jquery.json-viewer/json-viewer/jquery.json-viewer.js")
        link(rel="stylesheet", href="npm:jquery.json-viewer/json-viewer/jquery.json-viewer.css") 

        script(src="index.js")

    body 
        include form.pug
        header
        
        main#main
            h1 Dendrite Admin

            pre#result


            h2 General config
            label(for="baseurl") Base url
            input(type="text" name="baseurl" placeholder="https://matrix.example.com")#baseurl.config
            br

            label(for="accesstoken") Accesstoken
            input(type="text" name="accesstoken" placeholder="Access token")#accesstoken.config
            br

            h2 Preconfigured endpoints
            +endpoint("whois", "Whois {USER}")
                input(type="text"  placeholder="@user:example.com")
                script.
                    onFormSubmit("#whois", {
                        method: "GET",
                        endpoint: "/_matrix/client/v3/admin/whois/",
                        param: $("#whois input").val()
                    });
    


            h2 Manual request
            details#request
                summary Manual request
                form(method="GET", action="/")#manual
                    
                    label(for="method") Method
                    input( type="text", name="method")#method
                    br

                    label(for="endpoint") Endpoint
                    input(type="text" name="endpoint" placeholder="/_matrix/client/v3/")#endpoint
                    br

                    h3 Endpoint arguments

                    label(for="param")#paramlabel URL Parameter
                    input(type="text" name="param" placeholder="parameter")#param
                    br

                    label(for="body")#bodylabel Body string
                    input(type="text" name="body" placeholder='{data: "example"}')#body
                    br

                    input(type="submit")

        
