doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Dendrite Admin
        link(rel="stylesheet", href="npm:normalize.css/normalize.css")
        link(rel="stylesheet", href="npm:wingcss/dist/wing.min.css")
        style.
            main {
                width: 80%;
                margin: auto;
                text-align: center;
            }
            input[type=text] {
                width: 60%;
            }
            #result {
                text-align: left;
                overflow: auto;
                border-width: 1px;
                border-style: solid;
                border-color: black;
            }



    body 
        include form.pug
        header
        
        main#main
            h1 Dendrite Admin

            pre#result

            form(method="GET", action="/")
                h2 General config
                label(for="baseurl") Base url
                input(type="text" name="baseurl" placeholder="https://matrix.example.com")#baseurl.config

                br

                label(for="accesstoken") Accesstoken
                input(type="text" name="accesstoken" placeholder="Access token")#accesstoken.config
                br

                h2 Endpoints
                select(selected=0)#selectendpoint
                    +endpoint("GET", "/_matrix/client/v3/admin/whois/", "userId", "@user:example.com")
                br

                h2 Endpoint arguments

                label(for="arg")#arglabel Arg
                input(type="text" name="arg" placeholder="{argument}")#arg
                br

                input(type="submit")

                br


                details#request
                    summary Request info

                    label(for="method") Method
                    select(name="method")#method
                        option GET
                        option POST
                    br

                    label(for="endpoint") Endpoint
                    input(type="text" name="endpoint" placeholder="/_matrix/client/v3/")#endpoint

                    br




        script(src="npm:jquery/dist/jquery.min.js")
        
        script(src="npm:jquery.json-viewer/json-viewer/jquery.json-viewer.js")
        link(rel="stylesheet", href="npm:jquery.json-viewer/json-viewer/jquery.json-viewer.css") 

        script(src="index.js")